<header id="main_header">
  <h1><%= link_to 'OhWiki', pages_path %></h1>
  <% if current_user %>
    <menu id="user_menu">
      <li><%= link_to "Profile", edit_user_path(current_user.id) do %>
    </li>
      <li><%= link_to 'Log out', log_out_path(current_user.id) %></li>
    </menu><!-- nav -->
  <% end %>
</header>
