<header>
  <h1><%= link_to 'OhWiki', pages_path %></h1>
  <% if current_user %>
  <menu id="nav">
    <li><%= link_to 'Recent Pages', pages_path %></li>
    <li><%= link_to 'Profile', edit_user_path(current_user.id) %></li>
  </menu><!-- nav -->
  <% end %>
</header>
