<%= render 'shared/edit_menu' %>

<section id="recent-pages">
  <h1>Recent Pages</h1>
  <ul>
    <% @pages.each do |p| %>
      <li class="page-listing">
        <%= link_to p.title, '/pages/' + p.to_param %>
        <%= render :partial => 'shared/action_menu', :locals => {:p => p } %>
      </li>
    <% end %>
  </ul>
</section><!-- recent pages -->
